@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(1, 1, 1, 0.8);
    background-image: url('../images/movie-film.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
    z-index: 1000;
}

body {
    margin: 0;
}

.playlistName {
    background-color: rgba(245, 245, 245, 0.54);
    color: rgb(11, 11, 11);
    text-shadow: 2px 1px 1px rgba(252, 252, 253, 0.8);
    font-weight: bold;
    font-size: 35px;
    display: block;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    height: var(--header-height);
}

.searchBarHome {
    padding-right: 20px;
}

.searchBtn {
    background-color: maroon;

    svg {
        background: white;
    }
}

#Title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    max-width: 175px;
    height: auto;
    object-fit: contain;
}

#sideMenu {
    position: fixed;
    top: 107px;
    left: 0;
    height: 100vh;
    border-right: 2px solid rgb(10, 38, 58);
    width: 200px;
    padding-right: 10px;
    background-color: rgb(10, 50, 78);
    box-shadow: 1px 1px 6px rgba(1, 1, 1, 0.8);
    z-index: 1;
}

#sideMenu svg {
    margin-left: 35px;
}

#playlists {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
}

#playlists li {
    width: 100%;
    height: 30px;
    border-bottom: 3px solid rgb(10, 38, 58);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

#playlists li:hover {
    font-size: large;
    cursor: default;
}

#playlists li.selected {
    background-color: rgb(22, 97, 150);
    font-weight: bold;
    font-size: large;
    color: rgb(212, 211, 211);
}

#playlists a {
    padding-top: 10%;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#movies {
    position: absolute;
    width: calc(100% - 200px);
    top: 107px;
    margin-left: 200px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
    background-image: url(../images/main-background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 100px;
}

.movieContainer {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5vh;
    min-height: 300px;
    width: 12vmax;

    a {
        text-decoration: none;
        width: 100%;
        display: block;
    }

    img {
        height: 90%;
        display: block;
        width: 100%;
    }

    h3 {
        text-align: center;
        margin: 0;
        padding-top: 10px;
        color: black;
        width: 100%;
        padding-left: 5px;
        white-space: normal;
        overflow-wrap: normal;
    }

    background-color: transparent;
    box-sizing: border-box;
}

.movieMenu {
    fill: white;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 5%;
    transition: all 0.2s ease-in-out;
}

.movieMenu:hover {
    fill: #ca0000;
}

.movieContainer:hover .movieMenu {
    opacity: 100%;
}

.delete {
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    position: static;
    top: 13%;
    right: -15%;
    width: fit-content;
    background-color: #ca0000;
    padding: 1%;

    p {
        text-align: center;
        margin: 0;
        color: white;
    }
}

#add {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #fafafa;
    /* Green background */
    color: black;
    border: none;
    border-radius: 5px;
}

#add:hover {
    background-color: #a9b0b9;
    /* Darker green on hover */
}

/* The form container (#newList) */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(131, 55, 55);
    color: whitesmoke;
    border: 1px solid maroon;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Makes sure it appears above other elements */
    width: 300px;
    text-align: center;
}

/* The input and label inside the form */
#newListForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newListName {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hide {
    display: none;
}

#share {
    width: fit-content;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
    cursor: pointer;
}

.deletePlaylist {
    opacity: 0;
    position: absolute;
    top: -0.5%;
    right: 0;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease;
}

.deletePlaylist:hover {
    opacity: 1;
}