@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-image: url(../images/search-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.movie {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr;
    column-gap: 20px;
    border: 2px solid lightgray;
    padding: 5px;

    img {
        width: 150px;
        grid-column: 1 / 2;
        grid-row: 1/3;
    }

    div {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid rgb(10, 38, 58);
        background-color: rgba(245, 245, 245, 0.54);
        color: rgb(10, 38, 58);
    }
}

.title {
    font-size: 2em;
    grid-column: 2 / 3;
    grid-row: 1/2;
    margin: auto 0;
    padding-bottom: 10px;
}

.description {
    color: rgb(218, 219, 219);
    font-size: large;
    font-weight: bold;
}

.searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid lightgray;
    background: white;
    cursor: pointer;
}

form {
    display: flex;

}

.searchBtn svg {
    width: 70%;
    height: 70%;
}

#search {
    height: 30px;
    padding-left: 10px;
}

input,
button {
    height: 30px;
    padding: 0;
    border: 1px solid #ccc;
    /* Ensure consistent borders */
    font-size: 16px;
    /* Ensure matching font sizes */
    box-sizing: border-box;
    /* Ensure padding/border are included in height */
    vertical-align: middle;
    /* Align them properly */
}

.addMovie {
    cursor: pointer;
    align-self: center;
    float: right;
    padding: 0;
    margin: 0 1% 0 0;
    font-size: 3em;
    height: auto;
    line-height: 0.7;
    font-weight: lighter;
}

#playlistSelector {
    flex-direction: column;
    border: 2px solid lightgray;
    width: fit-content;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.results {
    position: absolute;
    width: calc(100% - 200px);
    align-items: flex-start;
    padding-top: 3.5vh;
    padding-left: 7vh;
    padding-bottom: 3.5vh;
}

#addMovieForm {
    width: 30vh;
    height: fit-content;
    display: block;
    gap: 10px;
}

#addMovieForm button {
    margin-top: 1vh;
    width: max-content;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 5px;
}

#addMovieForm label {
    font-size: large;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    flex: 1;
    margin: 0 5px;
    font-size: 1em;
}

#playlistOptions {
    justify-items: left;
    padding-top: 1vh;
}